@import 'https://fonts.googleapis.com/css?family=Voltaire';
body {
  color: white;
  height: 200vh;
  font-family: "Voltaire";
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 2em;
  top: 1em;
  cursor: pointer;
  z-index: 9;
}

.hamburger-icon .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 2em;
  transition: all .3s ease-in-out;
}

.hamburger-icon.active .bar {
  background-color: #212121;
}

.hamburger-icon.active .bar:nth-child(2) {
  transform: scale(0);
}

.hamburger-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg);
  transform-origin: right;
  height: 4px;
}

.hamburger-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translateY(3px);
  transform-origin: right;
}

.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15vw;
  background-color: white;
  color: black;
  padding: 1em 2em;
  height: 100%;
  z-index: 4;
  transform: translateX(20vw);
  transition: transform .3s ease-out;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav ul {
  list-style: none;
}

.sidenav ul .logo {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  margin: 2em auto;
  font-size: 24px;
}

.background {
  height: 100vh;
  background-image: url("../images/back.jpg");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.foreground {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.text-wrap {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
}

.text-wrap .text {
  font-size: 68px;
  display: inline-block;
  padding: 0 .2em;
  background-color: rgba(0, 0, 0, 0.1);
}

.guitar {
  background-image: url(../images/guitar.png);
  position: absolute;
  bottom: 0;
  right: 9%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 570px;
  width: 319px;
  background-color: transparent;
  background-position: bottom;
}

.content {
  color: black;
}

.content .container {
  margin-top: 10vh;
}
