doctype html(lang='en')
head
  meta(charset='utf-8')
  title The Guitar Page
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='css/normalize.css')
  link(rel='stylesheet', href='css/skeleton.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='icon', type='image/png', href='images/favicon.png')
  script(src='js/jquery-3.0.0.min.js')
  script(src='js/script.js')
body

  //- The sidenav which is translateX'd out of the screen
  .sidenav
    ul
      li.logo
      li Check out our Guitar Collection
      li Learn Tutorial
      li Locate our stores

  //- The 3 bar icon you see on the top right.
  .hamburger-icon
    .bar
    .bar
    .bar
    
  //- Backgorund with the Image
  .background
  
  //- Heading
  .text-wrap
    .text G
    .text U
    .text I
    .text T
    .text A
    .text R
    .text -
    .text G
    .text U
    .text Y
  //- .guitar

  //- made foreground, that will be over everything else and will give the mouse position value to animate the heading
  .foreground
  
  //- Content and Stuff
  .content
    .container
      h2  This is an Awesome page about Guitars
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
